@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
  }

::selection {
    background: #c8eae9;
    color: #666;
}
::-moz-selection {
    background: #c8eae9;
    color: #666;
}

:root {
    --del-color: #e684ae;
    --ins-color: #c8eae9;
}



html,
body {
    height: 100%;
    margin: 10px;
    font-family: "system";
    font-size: 15px;
}

  
  .header-wrapper p {
      text-align: left;
      max-width: 60%;
  }
  
  .header-desc {
      color: #666;
      font-size: 30px;
  }
  
  .header-wrapper {
      display: flex;
      flex-flow: column;
      margin: 0px 0px 75px 0px;
      padding: 10px;
      align-items: flex-start;
  }
  
  .header-intro-small {
      font-size: 20px;
      margin-bottom: -40px;
      font-family: "Iconsolata", monospace;
      color: #e684ae;
  }
  
  
  .header-intro-text {
      color: #666;	
  }
  
  .header-intro {
      margin-bottom: -5px;
      font-size: 50px;
  }
  
  sup {
      font-size: 50%;
  }

  
  ::selection {
      background: #c8eae9;
      color: #666;
  }
  ::-moz-selection {
      background: #c8eae9;
      color: #666;
  }
  

button {
      padding: 10px;
      border: 2px solid #e684ae;
      background: #fff;
      font-family: "Iconsolata", monospace;
      border-radius: 3px;
      color: #e684ae;
      cursor: pointer;
      transition: 0.4s ease-out;
  }
  
  button:hover {
      background:  #fbeaf1;
  }
  
  
  del1 {
      --color: var(--del-color, green);
      text-decoration: none;
      padding: 0 0.5em;
      background-repeat: no-repeat;
      background-image: linear-gradient(
              to left,
              rgba(255, 255, 255, .5),
              transparent
          ),
          linear-gradient(2deg, var(--color) 50%, transparent 50%),
          linear-gradient(-0.9deg, var(--color) 50%, transparent 50%),
          linear-gradient(-60deg, var(--color) 50%, transparent 50%),
          linear-gradient(120deg, var(--color) 50%, transparent 50%);
  
      background-size: 30% 1.5px, calc(100% - 20px) 10px, calc(100% - 20px) 10px,
          10px 10px, 8px 8px;
  
      background-position: 50% calc(50% + 8px), center center, center center, 2px 50%,
          calc(100% - 3px) calc(50% + 1px);
  }
  
  ins1 {
      background: var(--ins-color, green);
      text-decoration: none;
      padding: 0px 10px 0px 10px;
  }
  
  
  .img-holder {
    position: relative;
    margin: 5px 0 0 5px;
    display: inline-block;
  }
  img {
    display: block;
  }
  .img-holder::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #e684ae;
    left: 10px;
    top: 10px;
    z-index: -1;
  }
  
  h3 {
      display: inline-block;
      margin-right: 15px;
  }
  
  hr {
      display: inline-block;
      width: 150px;
      height: 1px;
      border: 0;
      margin-bottom: -1px;
      border-top: 1px solid #c8eae9;
  }
  
  .about-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 50px;
      padding-right: 25px;
  }
  
  .about-text {
      display: flex;
      flex-flow: column nowrap;
      max-width: 50%;
      color: #666;
      margin-right: 50px;
  }
   
  .about-text p {
      margin-top: 1px;
  }
  
  .about-lists {
      display: flex;
      flex-flow: row nowrap;
  }
  
  .num {
      font-family: "Inconsolata", monospace;
      color: #e684ae;
      margin-left: 25px;
  }

  .resume-button{
      margin-bottom: 15px;
      width: 100px;
  }
  
  
  /** Need to change image **/
  ul {
      list-style-image: url(img/arrow.png);
      list-style-type: disc;
      font-family: "Inconsolata", monospace;
      margin: 0px 40px 20px 0px;
  }


  /** TILES **/
  
  .border-module {
      background: linear-gradient(-45deg, #e684ae, #79cbca, #77a1d3);
      padding: 0px;
      transition: box-shadow 0.4s ease-out;
      margin-top: 20px;
      border-radius: 3px;
  }
  
  .proj-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 20px;
      margin-bottom: 30px;
  }
  
  .proj-icons {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
  }
  
  .folder-icon {
      width: 40px;
      padding-left: 5px;
      margin-bottom: -10px;
  }
  
    .link-icon {
        margin-left: 10px;
        transition: 0.4s ease-out;
    }

    .link-icon:hover {
        fill: #e684ae;
    }

  .github-icon {
      margin-left: auto;
      transition: 0.4s ease-out;
  }
  
  .github-icon:hover {
      fill: #e684ae;
  }
  
  .proj-tech {
      display: flex;
      flex-flow: row;
      justify-content: flex start;
      font-size: 75%;
      width: 100%;
      color: #666;
      font-family: "Inconsolata", monospace;
  }
  
  .proj-text {
      font-size: 90%;
  }
  
  .proj-text p {
      color: #666;
  }
  
  .proj-text h6 {
      margin-top: -10px;
      color: #666;
  }
  
  .projContainer {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: space-between;
      margin: 3px 3px 3px 3px;
      padding: 10px;
      width: 300px;
      height: 250px;
      transition: box-shadow 0.4s ease-out;
      border-radius: 3px;
      background: #fff;
  }
  
  .border-module:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
          0 16px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.15),
          0 64px 64px rgba(0, 0, 0, 0.15);
  }
  

  
/** FOOTER **/
  .footer-wrapper {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 20px;
      margin-bottom: 45px;
      font-family: "system";
  }

  .social-links {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-evenly;
  }

  .social-icon-logo:hover {
      fill: #e684ae;
  }

  .social-icon-logo {
      fill: #666;
      width: 25px;
      padding: 5px;
      transition: 0.4s ease-out;
  }
  
  .code {
      padding: 2px;
      border: 1px solid #e684ae;
      border-radius: 3px;
      margin-top: 10px;
      background: #fbeaf1;
      font-family: "Inconsolata", monospace;
      color: #e684ae;
  }

  .copy {
      font-size: 50%;
      color: #666;
      margin-top: 20px;
  }


  .text-link {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #666;
	padding: 2px 3px;
	-webkit-box-shadow: inset 0 -3px 0 #c8eae9;
	box-shadow: inset 0 -3px 0 #c8eae9;
}

.text-link:hover {
	-webkit-box-shadow: inset 0 -33px 0 0 #c8eae9;
	box-shadow: inset 0 -33px 0 0 #c8eae9;
	color: #fff;
}






/** MEDIA QUERIES **/
  @media screen and (max-width: 700px) {

    .header-desc {
        font-size: 20px;
    }
    .header-intro {
        font-size: 40px;
    }
    .header-intro-small {
        font-size: 10px;
    }
    .border-module:last-child {
        margin-bottom: 25px;
    }
    .header-wrapper p {
        max-width: 80%;
    }
    h3 {
        margin-left: -20px;
    }
}

@media screen and (max-width: 500px) {

    .header-intro-small {
        margin-bottom: -20px;
    }
    .header-desc {
        font-size: 15px;
    }
    .header-intro {
        font-size: 30px;
    }

    .about-text{
        max-width: 80%;
    }

    h3 {
        margin-left: -20px;
    }
}

@media screen and (max-width: 360px){
    hr {
        width: 90px;
    }

    .about-img {
        width: 200px;
    }
    .header-wrapper {
        margin: 0px 0px 25px 0px;
    }
}

@media screen and (max-width: 320px){
    .proj-container{
        width: 200px;
    }
}
